<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Macro Meals</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	</head>
	<body>
	<!-- Side Nav -->
		<ul id="slide-out" class="side-nav fixed responsive">
			<li><div class="user-view center">
      <div class="background" >
        <img src="https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" height=300px width=200px>
      </div>
      <img class="circle userpicside" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
			<div class = "userinfoside">
      <span class="white-text name">{{this.dataValues.firstname}}</span></a>
      <span class="white-text username">{{this.dataValues.username}}</span></a>
		</div>
    </div> </li>
		<div class ="sidelinks">
	      <li><a href="/profile">Update Profile</a></li>
	      <li><a href="/profile">Recalculate Macros</a></li>
				<li><a href="/mealsearch">Search Recipes</a></li>
	      <li><a href="/mealbox">View Saved Recipes</a></li>
		</div>
			<li>
				<div class = "macrosmini">
					<span class = "black-text macrotitleside">Daily Macros</span><br>
					<span class="white-text caloriesside">Calories: {{this.dataValues.calories}}</span><br>
		     <span class="white-text carbsside">Carbs: {{this.dataValues.carbs}} </span><br>
					<span class="white-text fatside">Fat: {{this.dataValues.fat}}</span><br>
		      <span class="white-text proteinside">Protein: {{this.dataValues.protein}}</span>
				</div>
			</li>
	    </ul>
	    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


		{{{ body }}}

		<footer class="page-footer footerloggedin">
          <div class="container">
            <div class="row footerrow">
              <div class="col l12 s12">
                <h5 class="white-text center">Footer Content</h5>
                <p class="grey-text text-lighten-4 center"></p>
								 <center> <input class="btn" id="logoutbutton" type="button" value="Log Out"/> <center>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 MacroMeals
            </div>
          </div>
        </footer>

	</body>

	<script type="text/javascript" src="/js/bin/materialize.min.js"></script>
	<script type="text/javascript" src="/js/frontend/frontroutes.js"></script>
	<script type="text/javascript" src="/js/frontend/style.js"></script>

</html>
