<main class = "main">
<div class = "row">
  <h2 class="usertitle"> Saved Recipes </h2>
    <h4><center>Those look like some tasty recipes that you've saved!<center></h4>
      <div class = "col s1"></div>
      <div class = "col s10 mealbox">
        {{#each this.Meals}}
      <div class="col s12 m6">
      <div class="card mealboxcards">
        <div class="card-image">
          <img src="{{this.image}}">

        </div>
        <div class="card-content mealcontent">
          <span class="card-title black-text titleingredients">{{this.title}}</span>
          <p>Calories: {{this.calories}}</p><br>
          <p>Protein: {{this.protein}}</p><br>
          <p>Carbs: {{this.carbs}}</p><br>
          <p>Fat: {{this.fat}}</p><br>
          <a id = "recipelink" href={{this.link}}>Recipe Link</a>
          <a class="btn-floating halfway-fab waves-effect waves-light red sharebtn"><i class="material-icons">share</i></a>
          <a class="btn-floating halfway-fab waves-effect waves-light red deletebtn" recipeid={{this.id}}><i class="material-icons">delete</i></a>

        </div>
      </div>
    </div>
    {{/each}}
</div>
  </div>
  </div>
  <div class = "col s1"></div>
</div>

</main>
